{% extends "base/customer-base.html" %}

{% block container %}

{% load static %}

{% include 'includes/customer-header.html' %}

    
    <section class="home-bg1">
        <div class="flex flex-col md:flex-row items-center md:p-80 p-10 ">
            <div class="w-full md:w-[45%] mb-8 md:mb-0">
                <h1 class="text-[40px] md:text-[60px] lg:text-[90px] text-white font-bold leading-tight">
                    Online Vehicle Repairing Service
                </h1>
            </div>
            <div class="w-full md:w-[55%] md:ml-10">
                <p class="text-[16px] md:text-[18px] lg:text-[20px] leading-6 md:leading-9 font-medium mt-4 md:mt-10 text-white">
                    Lorem ipsum dolor sit amet consectetur. Tellus id fringilla mauris a donec faucibus ipsum id. Tortor pharetra ut pellentesque urna auctor massa eros nunc. Vitae risus ullamcorper porttitor ultrices. In pharetra morbi erat in arcu pretium vivamus aliquam. Quis volutpat semper viverra diam. Aliquam ipsum elit amet risus sed. Sapien pretium pretium vitae aliquam praesent.
                </p>
                <div class="flex justify-center md:justify-end">
                    <button class="px-6 py-3 rounded-xl hover:bg-[#797d25] bg-[#B1BA08] mt-6">
                        <a class="text-white text-[16px] md:text-[18px] font-medium" href="{% url 'customers:service' %}">BOOK NOW</a>
                    </button>
                </div>
            </div>
        </div>
        

    </section>
    
    <section class="home-bg2">
        <div class="p-6 md:p-12 lg:p-[100px] ">
            <!-- Section Title -->
            <h1 class="text-white text-center text-[24px] md:text-[30px] font-bold pt-10">
                What We Do?
            </h1>
        
            <!-- Grid Container -->
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mt-10">
                <!-- Card 1 -->
                <div class="rounded-xl bg-[#353434B2] overflow-hidden">
                    <img class="w-full" src="{% static './images/designer1.png' %}" alt="Image 1">
                    <div class="p-10">
                        <p class="text-[16px] md:text-[18px] lg:text-[20px] font-normal text-white leading-7">
                            Lorem ipsum dolor sit amet consectetur. Dui aenean praesent pulvinar erat morbi morbi. At et elementum ultrices diam feugiat nulla ultrices risus. Eu amet a proin malesuada in praesent lacus. Sapien bibendum dignissim enim tellus facilisis.
                        </p>
                    </div>
                </div>
        
                <!-- Card 2 -->
                <div class="rounded-xl bg-[#353434B2] overflow-hidden">
                    <img class="w-full" src="{% static './images/designer2.png' %}" alt="Image 2">
                    <div class="p-10">
                        <p class="text-[16px] md:text-[18px] lg:text-[20px] font-normal text-white leading-7">
                            Lorem ipsum dolor sit amet consectetur. Dui aenean praesent pulvinar erat morbi morbi. At et elementum ultrices diam feugiat nulla ultrices risus. Eu amet a proin malesuada in praesent lacus. Sapien bibendum dignissim enim tellus facilisis.
                        </p>
                    </div>
                </div>
        
                <!-- Card 3 -->
                <div class="rounded-xl bg-[#353434B2] overflow-hidden">
                    <img class="w-full" src="{% static './images/designer3.png' %}" alt="Image 3">
                    <div class="p-10">
                        <p class="text-[16px] md:text-[18px] lg:text-[20px] font-normal text-white leading-7">
                            Lorem ipsum dolor sit amet consectetur. Dui aenean praesent pulvinar erat morbi morbi. At et elementum ultrices diam feugiat nulla ultrices risus. Eu amet a proin malesuada in praesent lacus. Sapien bibendum dignissim enim tellus facilisis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    
    <section class="home-bg">
        <div class="p-4 sm:p-8 md:p-12 lg:p-[180px]">
            <h1 class="text-white text-center text-[24px] sm:text-[30px] font-bold ">Store</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mt-10">
            {% for store in store %}
                <div class="bg-[#252424] px-5 py-4 rounded-xl">
                    <a href="{% url 'customers:store' %}">
                        <img class="w-full" src="{{store.image.url}}" alt="Image 3">
                        <h1 class="text-[20px] font-medium mt-7 text-white">{{store.name}}</h1>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    <section class="bg-black">
        <div class="p-4 sm:p-8 md:p-[100px]">
            <h1 class="text-white text-center text-[24px] sm:text-[30px] font-bold pt-10">Customer Review</h1>
            <p class="text-center w-full sm:w-[70%] m-auto text-neutral-200">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis sequi quibusdam sunt, ipsam eveniet laborum architecto corporis, explicabo, repellendus sint corrupti ex similique praesentium mollitia.
            </p>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 mt-10">
                <div class="bg-[#131212] px-5 py-4 rounded-xl">
                    <div class="flex px-10">
                        <img class="" src="{% static './images/mechanic.png' %}" alt="Image">
                        <div class="ml-6">
                            <h1 class="text-[24px] font-semibold text-white">Adil</h1>
                            <ul class="flex ">
                                <img class="w-full" src="{% static './images/star-1.png' %}" alt="Image">
                                <img class="w-full ml-2" src="{% static './images/star-1.png' %}" alt="Image">
                                <img class="w-full ml-2" src="{% static './images/star-1.png' %}" alt="Image">
                                <img class="w-full ml-2" src="{% static './images/star-1.png' %}" alt="Image">
                            </ul>
                        </div>
                    </div>
                    <div class="p-10">
                        <p class="text-[16px] md:text-[18px] lg:text-[20px] font-normal text-white  w-full leading-7 lg:leading-9">
                            Lorem ipsum dolor sit amet consectetur. Dui aenean praesent pulvinar erat morbi morbi. At et elementum ultrices diam feugiat nulla ultrices risus. Eu amet a proin malesuada in praesent lacus. Sapien bibendum dignissim enim tellus facilisis.
                        </p>
                    </div>
                </div>
                <div class="bg-[#131212] px-5 py-4 rounded-xl">
                    <div class="flex px-10">
                        <img class="" src="{% static './images/mechanic.png' %}" alt="Image">
                        <div class="ml-6">
                            <h1 class="text-[24px] font-semibold text-white">Adil</h1>
                            <ul class="flex ">
                                <img class="w-full" src="{% static './images/star-1.png' %}" alt="Image">
                                <img class="w-full ml-2" src="{% static './images/star-1.png' %}" alt="Image">
                                <img class="w-full ml-2" src="{% static './images/star-1.png' %}" alt="Image">
                                <img class="w-full ml-2" src="{% static './images/star-1.png' %}" alt="Image">
                            </ul>
                        </div>
                    </div>
                    <div class="p-10">
                        <p class="text-[16px] md:text-[18px] lg:text-[20px] font-normal text-white  w-full leading-7 lg:leading-9">
                            Lorem ipsum dolor sit amet consectetur. Dui aenean praesent pulvinar erat morbi morbi. At et elementum ultrices diam feugiat nulla ultrices risus. Eu amet a proin malesuada in praesent lacus. Sapien bibendum dignissim enim tellus facilisis.
                        </p>
                    </div>
                </div>
                <div class="bg-[#131212] px-5 py-4 rounded-xl">
                    <div class="flex px-10">
                        <img class="" src="{% static './images/mechanic.png' %}" alt="Image">
                        <div class="ml-6">
                            <h1 class="text-[24px] font-semibold text-white">Adil</h1>
                            <ul class="flex ">
                                <img class="w-full" src="{% static './images/star-1.png' %}" alt="Image">
                                <img class="w-full ml-2" src="{% static './images/star-1.png' %}" alt="Image">
                                <img class="w-full ml-2" src="{% static './images/star-1.png' %}" alt="Image">
                                <img class="w-full ml-2" src="{% static './images/star-1.png' %}" alt="Image">
                            </ul>
                        </div>
                    </div>
                    <div class="p-10">
                        <p class="text-[16px] md:text-[18px] lg:text-[20px] font-normal text-white  w-full leading-7 lg:leading-9">
                            Lorem ipsum dolor sit amet consectetur. Dui aenean praesent pulvinar erat morbi morbi. At et elementum ultrices diam feugiat nulla ultrices risus. Eu amet a proin malesuada in praesent lacus. Sapien bibendum dignissim enim tellus facilisis.
                        </p>
                    </div>
                </div>
                <div class="bg-[#131212] px-5 py-4 rounded-xl">
                    <div class="flex px-10">
                        <img class="" src="{% static './images/mechanic.png' %}" alt="Image">
                        <div class="ml-6">
                            <h1 class="text-[24px] font-semibold text-white">Adil</h1>
                            <ul class="flex ">
                                <img class="w-full" src="{% static './images/star-1.png' %}" alt="Image">
                                <img class="w-full ml-2" src="{% static './images/star-1.png' %}" alt="Image">
                                <img class="w-full ml-2" src="{% static './images/star-1.png' %}" alt="Image">
                                <img class="w-full ml-2" src="{% static './images/star-1.png' %}" alt="Image">
                            </ul>
                        </div>
                    </div>
                    <div class="p-10">
                        <p class="text-[16px] md:text-[18px] lg:text-[20px] font-normal  text-white w-full leading-7 lg:leading-9">
                            Lorem ipsum dolor sit amet consectetur. Dui aenean praesent pulvinar erat morbi morbi. At et elementum ultrices diam feugiat nulla ultrices risus. Eu amet a proin malesuada in praesent lacus. Sapien bibendum dignissim enim tellus facilisis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
{% include 'includes/customer-footer.html' %}
    
{% endblock %}
