<!-- {% extends "base/customer-base.html" %}

{% block container %}

{% load static %}

{% include 'includes/customer-header.html' %}

<section class=" bg-gray-900 flex justify-center items-center py-10">
    <section class="w-full max-w-7xl px-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 pt-10">
            {% for storecategory in stores %}
                <div class="w-full bg-zinc-800 rounded-[14px] p-4">
                    <div>
                        <img src="{{ storecategory.image.url }}" alt="{{ storecategory.name }}" class="m-auto w-full rounded-md">
                    </div>
                    <div>
                        <h1 class="text-neutral-400 text-[18px] sm:text-[20px] mt-4">{{ storecategory.name }}</h1>
                        <p class="text-neutral-500 text-[12px] sm:text-[14px] mt-2">{{ storecategory.description }}</p>
                        <a href="{% url 'customers:products' %}" class="text-white bg-[#9DA000] px-4 mt-5 py-2 border border-[#9DA007] rounded-md">
                            View Details
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>
</section>

{% include 'includes/customer-footer.html' %}
{% endblock %} -->
