{% extends "base/customer-base.html" %} 

{% block container %} 

{% load static %}

{% include 'includes/customer-header.html' %}
    
<section class="">
    <section class=" bg-gray-900" >
          <div class="flex justify-center pt-14 items-center">
              <div class="flex items-center bg-gray-500 opacity-95 p-2 rounded-full shadow-md w-64">
                  <input 
                    type="text" 
                    placeholder="Search" 
                    class="bg-transparent text-white placeholder-gray-400 outline-none w-full px-2"
                  />
                  <button class="text-white">
                      <img src="{% static './images/search.png' %}" alt="images">
                  </button>
                </div> 
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 gap-5 pt-24">
            <!-- Product Card -->
            {% for category in storecategory %}
                <div class="w-full bg-zinc-800 rounded-[14px] p-4">
                    <div>
                        <img src="{{ category.image.url }}" alt="{{ category.name }}" class="m-auto w-full rounded-md">
                    </div>
                    <div>
                        <h1 class="text-neutral-400 text-[18px] sm:text-[20px] mt-4">{{ category.name }}</h1>  <!-- Fixed name reference -->
                        <p class="text-neutral-500 text-[12px] sm:text-[14px] mt-2">
                            {{ category.description }}
                        </p>
                        <ul class="flex space-x-4 justify-end items-center mt-3">
                            <li>
                                <a href="{% url 'customers:products' %}" class="text-white bg-[#9DA000] px-4 py-2 border border-[#9DA007] rounded-md">
                                    View All
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </section>
</section>
    
    {% include 'includes/customer-footer.html' %}
    {% endblock %}