{% extends "base/customer-base.html" %}
{% block container %}
{% load static %}
{% include 'includes/customer-header.html' %}

<section class="home-bg">
            <!-- Google Map -->
            <div class="flex justify-center pt-28">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15672.076783384606!2d76.06219039850916!3d10.88614427830818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7b6328c091e7b%3A0x8b642b0d66d70d05!2sValanchery%2C%20Kerala%20676552!5e0!3m2!1sen!2sin!4v1727249216607!5m2!1sen!2sin" width="1000" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
</section>
{% endblock %}